@use 'app/styles/utilities' as *;
@use 'app/styles/colors' as *;

.filter-popover-container {
    @extend .full-height;
    @extend .d-flex, .align-center;
    .trigger-button {
        height: 80%;
        background-color: $Black600;

        &:hover {
            background-color: $Black400;
        }

        .total-filter-count {
            width: 20px;
            height: 20px;
            @extend .d-flex, .align-center, .justify-center;
            @extend .p-1;
            background-color: $Teal300;
            border-radius: 50%;
        }
    }
}

.custom-popover {
    color: $Black200 !important;
    background-color: $Black800 !important;
    overflow: hidden !important;
}

.popover-container {
    @extend .d-flex, .flex-column, .gap-4;
    height: 100%;
    max-height: 50vh;
    width: 300px;

    .filter-body {
        @extend .d-flex, .flex-column, .gap-4;
        @extend .p-4;
        flex: 1;
        overflow: auto;
    }

    .filter-group-section {
        .filter-name {
            text-transform: uppercase;
        }

        .filter-options-list {
            @extend .d-flex, .gap-4, .flex-wrap;
            @extend .mt-2;
        }
    }

    .filter-footer-container {
        @extend .p-4;
        @extend .d-flex, .align-center, .gap-4;
        border-top: 0.0225rem solid $Black400;

        .apply-button {
            background-color: $Teal400;
        }

        .clear-button {
            color: $White;
            border-color: $Black400;
        }
    }
}