$Black800: #121212;
$Black700: #212121;
$Black600: #303030;
$Black500: #424242;
$Black400: #616161;
$Black300: #9E9E9E;
$Black200: #BDBDBD;
$Black100: #E0E0E0;
$Black50: #F5F5F5;

$White: #FFFFFF;

$Purple600: #0b0054;
$Purple500: #9933ff;
$Purple400: #b266ff;
$Purple300: #cc80ff;
$Purple200: #d580ff;
$Purple100: #e0b3ff;

$Teal600: #004d40;
$Teal500: #00796b;
$Teal400: #009688;
$Teal300: #26a69a;
$Teal200: #4db6ac;
$Teal100: #b2dfdb;

$Red600: #e53935;
$Red500: #ef5350;
$Red400: #e57373;
$Red300: #ef9a9a;
$Red200: #ffcdd2;
$Red100: #ffebee;

$Green600: #228B22