@use 'app/styles/utilities' as *;
@use 'app/styles/colors' as *;

.table-wrapper {
    @extend .full-height;
    @extend .d-flex, .flex-column, .gap-8;
    
    .filter-container {
        @extend .d-flex, .gap-8, .align-center;

        .search-bar {
            @extend .p-4;
            border: 0.0225rem solid $White;
            border-radius: 24px;
            flex: 1;
            max-width: 50%;
        }
    }

    .container {
        @extend .overflow-auto, .pos-relative;
        border: 0.0225rem solid $Black400;
        max-width: 100%;
        width: fit-content;

        .table {
            @extend .d-grid;
        }
    }

    .table-error-container {
        @extend .d-flex, .flex-column, .align-center, .justify-center, .gap-4;
        width: 80vw;
        @extend .full-content;

        .table-error-text {
            font-size: 1.5rem;
        }

        .retry-button {
            font-family: $font-family-base;
            color: $Teal400;
            border: 0.0225rem solid $Teal400;
        }
    }

    .table-header-container {
        @extend .d-grid, .pos-sticky;
        top: 0;
        background-color: $Black600;
        height: 3.5rem;
        z-index: 1;

        .column {
            @extend .px-2, .py-1, .font-weight-bold;
            margin: auto 0;
        }
    }

    .table-body-container {

        .table-row-wrapper {
            @extend .py-4;
            outline: 0.0225rem solid $Black400;

            &:hover {
                background-color: $Black600;
            }
        }

        .row {
            @extend .px-2, .py-1, .full-height;
            @extend .d-flex, .align-center;
            color: $Black200;
            margin: auto 0;
        }
    }

    .table-footer-container {
        .proceed-button {
            font-family: $font-family-base;
            background-color: $Teal400;
        }
    }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
